// Navigation Styles here
// header{
//     width: 100%;
//     margin: 1% auto;
// }
    .top-nav{
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin: 2% auto 0px;
        border-bottom: 1px dashed gray;
        .header-h{
            width: 70%;
            padding: 0px 50px;
            
        }
        .nav-bar{
            width: 30%;
            justify-content: space-evenly;
            display: flex;
            
            a{
                text-decoration: none;
                color: black;
                font-family: @p-font;
                margin: auto 3%;
            } //end of a

        } //end of nav bar
        
    }//end of top nav
    
    .header-photo{
        width: 100%;
        margin: 0 auto;
    }


